
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
.header h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2px;
    line-height: 90px;
    max-width: 550px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
    padding: 0 15px;

}

.aLogo {
    color: #6e7ea9;
}

.btn-primary{
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 12px 15px;
    border: 1px solid #1085e4;
}

.btn-secondary{
    background-color: #808080;
    color: #fff;
    text-transform: uppercase;
    font-size: 7px;
    font-weight: 700;
    border-radius: 30px;
    padding: 14px 25px;
    border: 1px solid #808080;
    letter-spacing: 1.5px;
}

.btn-free {
    font-weight: 400;
    padding: 10px 20px;
    letter-spacing: 1.5px;
}

.fea h3 {
    font-size: 20px;
    text-align: center;
    color: #192b59;
}
.fea h4 {
    font-size: 16px;
    text-align: center;
    color: #7581a1;
}
.fea a {
    font-size: 14px;
    text-align: center;
    color: #1085e4;
}
.Robot h6{
    font-size: 14px;
    text-align: left;
    color: #00bffe;
    text-transform: uppercase; 
}
.Robot h1{
    font-size: 50px;
    text-align: left;
    color: #ffffff;
}
.Robot p{
    font-size: 18px;
    text-align: left;
    color: #ffffff;
}
.bth-third {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    border-radius: 30px;
    padding: 10px 26px;
    border: 1px solid #1085e4;
    letter-spacing: 1.5px;
}
.Features h1 {
    font-size: 50px;
    text-align: left;
    color: #192b59;
}
.Features h3 {
    font-size: 16px;
    text-align: left;
    color: #5a6789;
}
.Features small {
    font-size: 14px;
    text-align: left;
    color: #7581a1;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.FunFucts h2{
    font-size: 50px;
    text-align: center;
    color: #192b59;
}
.Fun {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}
.Fun>li {
    font-size: 12px;
    color: #1085e4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
}
.Fun>li>span {
    font-size: 60px;
    letter-spacing: -2px;
    color: #bacbdc;
    display: block;
    margin-bottom: 5px;
}
.Fun span{
    font-size: 60px;
    text-align: center;
    color: #bacbdc;
}
.Video h2{
    font-size: 50px;
    text-align: left;
    color: #192b59;
}
.Video p{
    font-size: 16px;
    text-align: left;
    color: #7581a1;
}
.Loremipsum h1{
    font-size: 50px;
    text-align: left;
    color: #192b59;
}
.Loremipsum p{
    font-size: 16px;
    text-align: left;
    color: #7581a1;
}
.btn-four {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 6px;
    font-weight: 700;
    border-radius: 30px;
    padding: 14px 28px;
    border: 1px solid #1085e4;
    letter-spacing: 1.5px;
}
.Loremipsum2 h1{
    font-size: 50px;
    text-align: left;
    color: #192b59;
}
.Loremipsum2 p{
    font-size: 16px;
    text-align: left;
    color: #7581a1;
}
.btn-five {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 6px;
    font-weight: 700;
    border-radius: 30px;
    padding: 14px 42px;
    border: 1px solid #1085e4;
    letter-spacing: 1.5px;
}
.screen_preview h4 {
    font-size: 16px;
    text-align: center;
    color: #1085e4;
}
.screen_preview h2 {
    font-size: 40px;
    text-align: center;
    color: #192b59;
}
.testimonials{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}
.testimonials_1{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.testimonials h4 {
    font-size: 18px;
    text-align: left;
    color: #1085e4;
}
.testimonials h2 {
    font-size: 40px;
    text-align: left;
    color: #192b59;
}
.client {
    font-size: 22px;
    text-align: left;
    color: #000958;
}
.ceo {
    font-size: 14px;
    text-align: left;
    color: #1085e4;
}
.our_plans h4{
    font-size: 18px;
    text-align: center;
    color: #1085e4;
}
.our_plans h2{
    font-size: 40px;
    text-align: center;
    color: #192b59;
}
.Free h1{
    font-size: 70px;
    text-align: left;
    margin: 0 0;
    color: #000958;
}
.started {
    font-size: 14px;
    text-align: left;
    color: #0084ff;
}
.Free>.started{
    margin: 0 0;
}
.Prise {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}
.btn-six {
    background-color: rgba(28,28,28,0);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    border-radius: 30px;
    padding: 13px 36px;
    border: 1px solid #6e808f;
    letter-spacing: 1.5px;
}
.btn-seven {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    border-radius: 30px;
    padding: 13px 36px;
    border: 1px solid #1085e4;
    letter-spacing: 1.5px;
}
.btn-six:hover {
    color: #ff0;
    background: #000;
    border: 1px solid #ff0;
    }
.angels_1 h5 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #85c8ff;
    }

.angels_1 h2 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    background-color: #0084ff;
}
.Personal {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}
.Personal h5{
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #1a88e1;
}
.Personal h4{
    font-size: 26px;
    text-align: left;
    color: #192b59;
}
.Trial{
    color: #000000;
    background-color: floralwhite;
    list-style-type: none;
    text-decoration: none;
    
}

.Trial h2{
    text-align: center;
    max-width: 25%;
    font-size: 40px;
    word-spacing: 15px;
    padding: 15px;
    margin: 0;
}

.forms{
    color: rgb(71, 71, 71);
    font-size: 20px;
    background-color: transparent;
    border-radius: 50px;
    padding: 15px;
    margin: 15px;
}